<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a ng-href="#/about">О проекте</a></li>
        <li><a ng-href="#/help">Помочь</a></li>
        <li><a class="active"
               ng-href="#/contacts">Контакты</a></li>
    </ul>
    <a class="logo-div"
       href="#">
        <img width="48px"
             height="48px"
             class="logo-image"
             ng-href="#"
             src="https://scontent-a-fra.xx.fbcdn.net/hphotos-frc3/t1.0-9/1491723_784588131552586_8157741668669365765_n.jpg">

        <h3 class="text-muted logo-text">Wings Phoenix</h3>
    </a>
</div>