<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a ng-href="#/about">О проекте</a></li>
        <li><a class="active"
               ng-href="#/help">Помочь</a></li>
        <li><a ng-href="#/contacts">Контакты</a></li>
    </ul>
    <a class="logo-div"
       href="#">
        <img width="48px"
             height="48px"
             class="logo-image"
             ng-href="#"
             src="https://scontent-a-fra.xx.fbcdn.net/hphotos-frc3/t1.0-9/1491723_784588131552586_8157741668669365765_n.jpg">

        <h3 class="text-muted logo-text">Wings Phoenix</h3>
    </a>
</div>

<div class="center-block tabs">

    <tabset justified="true">
        <tab heading="Перечислить деньги">

            <h4 class="list-group-item-heading tab-header">Карты Приватбанка</h4>

            <div class="list-group tab-content-padding">
                <div class="list-group-item active">
                    <h5 class="list-group-item-heading"> 79я Николаевская десантная бригада</h5>

                    <p class="list-group-item-text">
                        4149 4950 0700 7780 Юрий Бирюков
                    </p>
                </div>
                <div class="list-group-item active">
                    <h5 class="list-group-item-heading">10я Сакская бриагада морской авиации</h5>

                    <p class="list-group-item-text">
                        4149 4950 0700 7780 Юрий Бирюков
                    </p>
                </div>
                <div class="list-group-item active">
                    <h5 class="list-group-item-heading">25я Днепропетровская десантная бригада</h5>

                    <p class="list-group-item-text">
                        4149 4950 0700 7780 Юрий Бирюков
                    </p>
                </div>
                <div class="list-group-item active">
                    <h5 class="list-group-item-heading"> 26я Бердичевская артиллерийская бригада
                    </h5>

                    <p class="list-group-item-text">
                        5167 9872 0043 0821 Дмитрий Марчук
                    </p>
                </div>
                <div class="list-group-item active">
                    <h5 class="list-group-item-heading"> Бердянский погранотряд</h5>

                    <p class="list-group-item-text">
                        4149 4950 0700 7780 Юрий Бирюков
                    </p>
                </div>
                <div class="alert alert-info alert-dismissable">
                    Все карты 4149* годятся только для пополнения через Приват24, через терминалы Приватбанка и кассы
                    отделения Приватбанка. <br/>
                    Если Вы хотите перевести через банк-клиент другого банка, через банкомат другого банка, то
                    используйте только: <br/>
                    5168 7572 3217 4575 Юрий Бирюков
                </div>
            </div>

            <h4 class="list-group-item-heading tab-header">Реквизиты для перевода через PayPal</h4>

            <div class="list-group tab-content-padding">
                <div class="list-group-item active">
                    Счёт: <strong>sergiys@bigmir.net<br/></strong>
                    Назначение: <strong>перевод друзьям или родственникам<br/></strong>
                    Сообщение получателю: <strong> ArmyUA <br/></strong>
                    После перевода: <strong>напишите в сообщениях на какую часть потратить.</strong>
                </div>
            </div>

            <h4 class="list-group-item-heading tab-header">Реквизиты для безналичных переводов в гривне</h4>

            <div class="list-group tab-content-padding">
                <div class="list-group-item active">
                    Получатель: <strong>ПриватБанк <br/></strong>
                    Наименование банка: <strong>ПриватБанк <br/></strong>
                    Номер счета: <strong> 29244825509100 <br/></strong>
                    МФО: <strong> 305299 <br/></strong>
                    ОКПО: <strong> 14360570 <br/></strong>
                    Назначение платежа: <strong>Бирюков Юрий Сергеевич <br/></strong>
                    ИНН: <strong>2732403517 <br/></strong>
                    Для пополнения карты (НОМЕР КАРТЫ КОТОРУЮ НУЖНО ПОПОЛНИТЬ)
                </div>
            </div>

            <h4 class="list-group-item-heading tab-header">Реквизиты для перевода через SWIFT (доллары)</h4>

            <div class="list-group tab-content-padding">
                <div class="list-group-item active">
                    BENEFICIARY: <strong> BIRIUKOV IURII <br/></strong>
                    ACCOUNT: <strong> 0840262596098177380 <br/></strong>
                    BANK OF BENEFICIARY: <strong> PRIVATBANK <br/></strong>
                    SWIFT CODE: <strong> PBANUA2X <br/></strong>
                    INTERMEDIARY BANK: <strong> JP MORGAN CHASE BANK <br/></strong>
                    SWIFT CODE: <strong> CHASUS33 <br/></strong>
                    CORRESPONDENT ACCOUNT: <strong> 0011000080 </strong>
                </div>
            </div>

            <h4 class="list-group-item-heading tab-header">Реквизиты для перевода через SWIFT (доллары)</h4>

            <div class="list-group tab-content-padding">
                <div class="list-group-item active">
                    BENEFICIARY: <strong> BIRIUKOV IURII <br/></strong>
                    ACCOUNT: <strong> 0978262596098177380 <br/></strong>
                    BANK OF BENEFICIARY: <strong> PRIVATBANK<br/></strong>
                    SWIFT CODE: <strong> PBANUA2X <br/></strong>
                    INTERMEDIARY BANK: <strong> Commerzbank AG Frankfurt am Main Germany<br/></strong>
                    SWIFT CODE: <strong> COBADEFF <br/></strong>
                    CORRESPONDENT ACCOUNT: <strong> 400 8867004 01 </strong>
                </div>
            </div>

        </tab>


        <tab heading="Приобрести бронежилет">Short Labeled Justified content</tab>
        <tab heading="Приобрести футболку">Long Labeled Justified content</tab>
    </tabset>
</div>
